<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Manager</title>
    <style>
        button a{
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .create{
            background-color: #4CAF50; /* Green */
        }
        .edit{
            background-color: blue;
        }
        .delete{
            background-color: red;
        }
        button:hover{
            transition:9ms;
           }
    </style>
</head>
<body>
<div align="center">
    <h1>User Manager</h1>
    <button class="create"><a href="New">Create new User</a></button>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUser}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.fname}">First Name</td>
            <td th:text="${user.lname}">Last Name</td>
            <td th:text="${user.address}">Address</td>
            <td>
               <button class="edit" ><a th:href="@{'/edit/'+ ${user.id}}">Edit</a></button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="delete"> <a th:href="@{'/delete/' + ${user.id}}">Delete</a></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>